//Scroll down arrow styles starts here
.scroll_down{
  position: fixed;
  bottom: 10px;
  left:0px;
  width:100%;
  text-align: center;
  opacity: 0;
  z-index: 150;

  transform: translateY(10px);

  .scroll_text{
    font-family: Circular;
    font-size:18px;
    color:$white;
    opacity: 1;
  }

  .arrow
  {
    color:$white;
    width: 40px;
    height: 40px;
    font-size: 30px;
  }

  .down_arrow
  {
    width: 16.4px;
    height: 27.5px;
  }


  .bounce {
    animation: bounce 2s infinite;
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0) ease-out;
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
}
