//Scroll down arrow styles starts here
.scroll_down{
  position: fixed;
  bottom: 50px;
  left:0px;
  width:100%;
  text-align: center;
  opacity: 0;
  transition: all 1.5s ease-out;
  transform: translateY(10px);

  .scroll_text{
    color:white;
    opacity: 1;
  }

  .arrow
  {
    color:white;
    width: 40px;
    height: 40px;
    font-size: 30px;
  }

  &.fade-in{
    opacity: 1;
    transform: translateY(0);
  }
  &.fade-out{
    opacity: 0;
    transform: translateY(10);
  }

  .bounce {
    animation: bounce 2s infinite;
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0) ease-out;
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
}
