$white :#ffffff;
$teal_line:#50e3c2;

@import "normalize";
//------------------------------------------------------------------- Components
@import "variables/variables";
@import "components/scroll_down";
@import "components/circlar_timeline";
@import "components/title-hgroup";

html{
  height: 100vh;
}
.homepage {
  margin: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: CircularPro;
  font-size:100%;
  height:100vh;

  section {
    position: absolute;
    top:0px;
    left:0px;
    height: calc(100vh);
    width: 100%;
    align-items: center;
    opacity: 0;
    margin:0 ;
    button#imemerse {
      padding: 1em 1.375em
    }
    span{
    font-family: Circular;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.4px;
    color:$white;
    }
    span.home_button_arrow{
      content:url("../img/right_arrow.png");
      margin-left: 7px;
      margin-top: 2px;
    }
    p {
    width: 451px;
    height: 96px;
    font-family: Circular;
    font-size:22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: normal;
    color:$white;
    }

    /* Section intro */
    &:nth-of-type(1){
      z-index: 10;
      h1 {
        margin-top:16rem;
      }
      @media only screen and (max-width: 375px){
        h1{
          margin-top: 3.25rem;
          font-size:2.85rem;
        }
      }
    }
    /* Section 1 */
    &:nth-of-type(2){
      z-index: 9;
      background-color:rgba($color: #333, $alpha: 0.25);
    }
    /* Section 2 */
    &:nth-of-type(3){
      z-index: 8;
      background-color:rgba($color: #333, $alpha: 0.25);
    }
    /* Section 3 */
    &:nth-of-type(4){
      z-index: 7;
      background-color:rgba($color: #333, $alpha: 0.25);
    }
    /* Section 4 */
    &:nth-of-type(5){
      z-index: 6;
      background-color:rgba($color: #333, $alpha: 0.25);
    }
    /* Section 5 */
    &:nth-of-type(5){
      z-index: 5;
      background-color:rgba($color: #333, $alpha: 0.25);
    }
  }
  #flame-container{
    position: fixed;
    top:0;
    left:0;
    z-index: -1000;
    margin:0;
  }

  button {
    background: transparent;
    border: 1.6px solid $white;
    padding: 0.5rem 1rem;
    color:$white;
    font-size: 1rem;
    border-radius: 2rem;
  }

  .space{
    min-height:1px;
  }
  .divider{
    width: 50px;
    height: 5px;
    background-color: $teal_line;
    margin-top:30px;
    margin-bottom:30px;
    border-radius: 2.5px;
    display: block;
  }

}
:focus {
  outline: 0;
}
