
body {
  background-color: #00305B;
  margin: 0px;
  overflow: hidden;
  font-family: 'Gotham', 'Verdana', 'Avenir';
}

a {
  color:#0078ff;
}

section.intro {
  width:100%;
  position: absolute;
  top:0px;
  left:0px;
  height:calc(100vh);
  padding:0px 20rem;
}
h1{
  color:white;
  font-size: 3rem;
}
button{
  background:transparent;
  border:1.6px solid white;
  padding:0.5rem 1rem;
  color:white;
  font-size: 1rem;
  border-radius: 2rem;
}
