@import "normalize";
//------------------------------------------------------------------- Components
@import "scroll_down";

html{
  height: 100vh;
}
.homepage {

  margin: 0px;
  overflow-x: hidden;
  font-family: 'Gotham', 'Verdana', 'Avenir';
  font-size:100%;
  height:100vh;

  section {
    position: relative;
    height: calc(100vh);
    width:100%;
    align-items: center;
    transition: all 2s ease-out;
    opacity: 0;


    &.fade-in {
      opacity: 1;
    }

    h1 {
      color: white;
      font-size: 3rem;
      transition: all 2s ease-out;
      transform: translateY(50px);
    }
    button {
      transition: all 2s ease-out;
      transform: translateY(50px);
    }
    h2 {
      font-size:2.5rem;
      line-height: 1.25em;
      font-weight: bold;
      color: white;
      transform: translateY(50px);
      transition: all 1s ease-out;
    }
    p {
      font-size:2rem;
      line-height: 1em;
      font-weight: normal;
      color: white;
      transform: translateY(50px);
      transition: all 1s ease-out;
    }
    img {
      width:10px;
      height:10px;
      transition: all 1s ease-out;
      /*border-top-left-radius: 0;
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
      border-bottom-left-radius: 0;*/
    }
    &.fade-in {
      h1 {
        transform: translateY(0);
      }
      button{
        transform: translateY(0);
      }
      h2{
        transform: translateY(0);
      }
      p{
        transform: translateY(0);
      }
      img{
        height:calc(100vh);
        width:auto;
      }
    }

    /* Section intro */
    &:nth-of-type(1){
      h1 {
        margin-top:16rem;
      }
      button{
      }
      @media only screen and (max-width: 375px){
        h1{
          margin-top: 3.25rem;
          transform: translateY(0);
          font-size:2.85rem;
        }
      }
      &.fade-out{
        opacity: 0;
      }
    }
    /* Section 1 */
    &:nth-of-type(2){
      background-color:rgba($color: #333, $alpha: 0.5);
    }
    /* Section 2 */
    &:nth-of-type(3){
      background-color:rgba($color: #333, $alpha: 0.5);
    }
    /* Section 3 */
    &:nth-of-type(4){
      background-color:rgba($color: #333, $alpha: 0.5);
    }
    /* Section 4 */
    &:nth-of-type(5){
      background-color:rgba($color: #333, $alpha: 0.5);
    }
  }
  #flame-container{
    position: fixed;
    top:0;
    left:0;
    z-index: -1000;
  }

  button {
    background: transparent;
    border: 1.6px solid white;
    padding: 0.5rem 1rem;
    color: white;
    font-size: 1rem;
    border-radius: 2rem;
  }

  .console {
    position: fixed;
    top: 50px;
    left: 0;
    color: white;
  }
  .space{
    min-height:1px;
  }

}
